*{box-sizing: border-box;}
body {
  margin: auto;
  font-family: 'Averia Serif Libre', cursive;
  background-color: #FFE74C;
  color:#212738;
}

.container{
  width:80vw;
  margin:0 auto;
  text-align: center;
}

.header {
    overflow: hidden;
    background-color:#212738;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #fefefe;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 5vw; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 2vw;
    font-weight: bold;
    float: left;
  }
  
  .header a:hover {
    background-color: #303951;
    color: #ffffff;
  }
  
  .header a.active {
    background-color: #ffe74c;
    color: white;
  }
  
  .header-right {
    float: right;
    margin:10px;
  }

  .timer{
    color:white;
    font-size:2.5vw;
    margin-right:30px;
  }

  #question{
    margin:20px;
    font-size:3vw;
  }

  .game-discription {
    font-size:2vw;
  }

  .questionBox{
    display: none;
  }

  #btn-container {
    display: inline-flex;
    flex-direction: column;
    margin:20px 10px;
  }
  button{
    margin: .5vw;
    width:25vw;
    font-size:2.5vw;
    font-family: 'Averia Serif Libre', cursive;
  }

  #highscore-container{
    display:none;
    width:50vw;
    margin: 1vh auto;
    border-radius: 5px;
    background-color: #f2d200;
    padding: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #ff5964;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #ff2e3c;
  }

  .form-element {
    margin:1vh 2vw;
  }

  .scoreEl {
    margin:2vh 2vw;
    font-size: 2.5vw;
  }

  #highScores-container{
    width:60vw;
    margin: 5vh auto;
    padding: 2vw;
    border-width: 6px;
    border-color: #1c2230;
    border-style: solid;
    background-color: #212738;
    color: #ffe74c;
  }

  .game-title{
    font-size: 4vw;
  }
 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: right;
    }
    .header a.logo {
      font-size: 25px;
    }
    .timer{
      font-size:20px;
      margin-right:20px;
    }
  }